body {
  padding-top: 6.6rem;
  font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type:none;
    text-align:center;
}

.navbar {                       /* pour le ul */
    list-style-type: none;
    margin :0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    position: absolute;
    top: 0;
    box-shadow : 10px 10px 5px #888888;
    font-size :17px;
    letter-spacing:1px;
}

.navbar li{

    float: left;
}

.navbar li a {
    display: block;
    color: #fef997;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar li a:hover:not(.active) {
    background-color: #111;
}

.navbar li a.active {
    background-color: #f13936;
    color: #fef997;
}

p > a {
    background-color: #f13936;
    color: #fef997;
}

footer {
    position:fixed;
    height:45px;
    bottom:0;
    left:0;
    right:0;
    background-color:white;
    border-top:orange solid 2px;
    text-align:center;
}

#lienAuteurs {
    background-color: white;
    color: blue;
}

main {
    padding-bottom:45px;
}

.row {
  margin-bottom: 1rem;
  padding-left:6px;
}
.row .row {
  margin-top: 1rem;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: white;
  
}

.col-md-4 {
    height:200px;
}

#logo {
    width:100px;
}

img {
    width:100px;
}

table {
    border:thin solid black;
    border-collapse:collapse;
    margin-bottom:100px;
}

#citation {
    font-style:italic;
    display:block;
    margin:0 auto;
    width:525px;
    padding:25px;
}

td {
    padding:5px;
    border:thin solid black;
}

.titre {
    text-align:center;
    font-weight:bold;
}

#bigTexte {
    text-align:center;
}

.texte {
    padding-left:25px;
    width:400px;
    height:200px;
    text-align:center;
    display:inline-block;
    
}

.lienModele {
    color:blue;
    background-color:white;
}

#citation2 {
    font-style:italic;
    display:block;
    margin:0 auto;
    width:248px;
    padding:25px;
}

#citation3 {
    font-style:italic;
    display:block;
    margin:0 auto;
    width:275px;
    padding:25px;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.card {
  float: left;
  width: 33.3333333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
  width:49%;
}

.card-text {
  font-size: 85%;
}

@media screen and (max-width: 550px) {
    body {
        padding-top: 10rem;
    }
}